<html>

    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <body>
        <h1>一目均衡图</h1>
    </body>
    <script>
        function load(name) {
            let xhr = new XMLHttpRequest(),
                okStatus = document.location.protocol === "file:" ? 0 : 200;
            xhr.open('GET', name, false);
            xhr.overrideMimeType("text/html;charset=utf-8");//默认为utf-8
            xhr.send(null);
            return xhr.status === okStatus ? xhr.responseText : null;
        }

        function update(series, chart, filename) {
            return function handle() {
                let text = load(filename);
                console.log(text);
                const datas = JSON.parse(text);
                series.setData(datas);
            }
        }
        const chart = LightweightCharts.createChart(document.body, {
            width: 1300, 
            height: 768, 
            localization: {
                locale: 'ja-JP',
            },
        });
        chart.applyOptions({
            priceScale: {
                position: 'right',
                mode: 0,
                autoScale: true,
                invertScale: false,
                alignLabels: false,
                borderVisible: false,
                scaleMargins: {
                    top: 0.2,
                    bottom: 0.1,
                },
            },
            timeScale: {
                rightOffset: 0,
                barSpacing: 3,
                fixLeftEdge: true,
                lockVisibleTimeRangeOnResize: true,
                rightBarStaysOnScroll: true,
                borderVisible: false,
                borderColor: '#fff000',
                visible: true,
                timeVisible: true,
                secondsVisible: false,
            },
        });
        const candlestickSeries = chart.addCandlestickSeries();
        candlestickSeries.applyOptions({
            priceFormat: {
                type: 'price',
                precision: 6,
                minMove: 0.000001,
            },
        })
        
        filename = 'media/data/ohlc.json'
        update(candlestickSeries, chart, filename)();
        chart.timeScale().fitContent();
        setInterval(update(candlestickSeries, chart, filename), 1 * 1000);
    </script>
</html>