<html>
    <meta charset="utf-8">
    <title>一目均衡图</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <body>
    </body>
    <script>
        function fetch(url) {
            let xhr = new XMLHttpRequest(),
                okStatus = document.location.protocol === "file:" ? 0 : 200;
            xhr.open('GET', url, false);
            xhr.overrideMimeType("text/html;charset=utf-8");//默认为utf-8
            xhr.send(null);
            return xhr.status === okStatus ? xhr.responseText : null;
        }

        function update(series, chart, datas) {
                datas = datas.map(function(text){
                    return JSON.parse(text)
                })
                // console.log(datas)
                series.setData(datas);
        }
        const chart = LightweightCharts.createChart(document.body, {
            width: 1300, 
            height: 768, 
            localization: {
                locale: 'ja-JP',
            },
        });
        chart.applyOptions({
            grid: {
                vertLines: {
                    color: 'rgba(70, 130, 180, 0.5)',
                    style: 1,
                    visible: false,
                },
                horzLines: {
                    color: 'rgba(70, 130, 180, 0.5)',
                    style: 1,
                    visible: false,
                },
            },
            layout: {
                backgroundColor: '#0e153a',
                textColor: "#ffffff",
            },
            priceScale: {
                position: 'right',
                mode: 0,
                autoScale: true,
                invertScale: false,
                alignLabels: false,
                borderVisible: false,
                scaleMargins: {
                    top: 0.2,
                    bottom: 0.1,
                },
            },
            timeScale: {
                rightOffset: 0,
                barSpacing: 3,
                fixLeftEdge: true,
                lockVisibleTimeRangeOnResize: true,
                rightBarStaysOnScroll: true,
                borderVisible: false,
                borderColor: '#fff000',
                visible: true,
                timeVisible: true,
                secondsVisible: false,
            },
        });
        const candlestickSeries = chart.addCandlestickSeries();
        candlestickSeries.applyOptions({
            priceLineColor: '#ffffff',
            upColor: '#0e153a',
            borderVisible: true,
            wickVisible: true,
            priceFormat: {
                type: 'price',
                precision: 6,
                minMove: 0.000001,
            },
        })
        const turnSeries = chart.addLineSeries();
        turnSeries.applyOptions({
            lineWidth: 1,
            color: "#ff9f68",
            priceLineVisible: false,
            priceFormat: {
                type: 'price',
                precision: 6,
                minMove: 0.000001,
            },
        })

        const baseSeries = chart.addLineSeries();
        baseSeries.applyOptions({
            lineWidth: 1,
            color: "#28c7fa",
            priceLineVisible: false,
            priceFormat: {
                type: 'price',
                precision: 6,
                minMove: 0.000001,
            },
        })

        const delaySeries = chart.addLineSeries();
        delaySeries.applyOptions({
            lineWidth: 1,
            color: "#a7ff83",
            priceLineVisible: false,
            priceFormat: {
                type: 'price',
                precision: 6,
                minMove: 0.000001,
            },
        })

        const anteASeries = chart.addLineSeries();
        anteASeries.applyOptions({
            lineWidth: 1,
            color: "#faee1c",
            lineColor: "#faee1c",
            topColor: "rgba(250,238,28,0.5)",
            bottomColor: "rgba(250,238,28,0.5)",
            lineStyle: 2,
            priceLineVisible: false,
            priceFormat: {
                type: 'price',
                precision: 6,
                minMove: 0.000001,
            },
        })

        const anteBSeries = chart.addLineSeries();
        anteBSeries.applyOptions({
            lineWidth: 1,
            color: "#ff304f",
            lineColor: "#ff304f",
            topColor: "rgba(255,48,79, 0.5)",
            bottomColor: "rgba(255,48,79, 0.5)",
            lineStyle: 2,
            priceLineVisible: false,
            priceFormat: {
                type: 'price',
                precision: 6,
                minMove: 0.000001,
            },
        })

        var ws = new WebSocket("ws://localhost:8000/ws");
        ws.onmessage = function(event) {
            text = event.data
            data = JSON.parse(text)
            if (data.type == 'candles') {
                console.log('candles', data.data)
                update(candlestickSeries, chart, data.data);
            } else if (data.type == 'turns') {
                console.log('turns', data.data)
                update(turnSeries, chart, data.data);
            } else if (data.type == 'bases') {
                console.log('bases', data.data)
                update(baseSeries, chart, data.data);
            } else if (data.type == 'delays') {
                console.log('delays', data.data)
                update(delaySeries, chart, data.data);
            } else if (data.type == 'antes_1') {
                console.log('antes_1', data.data)
                update(anteASeries, chart, data.data);
            } else if (data.type == 'antes_2') {
                console.log('antes_2', data.data)
                update(anteBSeries, chart, data.data);
            }

        }
        ws.onopen = function(event) {
            ws.send('subscribe');
        }

        // avgsUri = '/api/avgs/'
        // update(lineSeries, chart, avgsUri)();
        // candlesUri = '/api/candles/'
        // update(candlestickSeries, chart, candlesUri)();
        // chart.timeScale().fitContent();
        // setInterval(update(candlestickSeries, chart, candlesUri), 1 * 1000);
        // setInterval(update(lineSeries, chart, avgsUri), 1 * 1000);
    </script>
</html>